@keyframes keepAlive {
  100% { z-index: -1; }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: keepAlive .5s linear;
  animation-fill-mode: forwards;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) { z-index: 1; }
.dark::view-transition-new(root) { z-index: 999; }
::view-transition-old(root) { z-index: 999; }
::view-transition-new(root) { z-index: 1; }
